html,body {
  margin: 0px;
  padding: 0px;
  background-color: #2D3250;
  font-family: 'Roboto', sans-serif;
}
nav {
  background-color: #7077A1;
  border-top: 2px solid #2D3250;
  border-bottom: 1px solid #2D3250;
  border-right: 1px solid #424769;
  border-left: 1px solid #424769;
  margin-bottom: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 99%;
  height: 50px;
  text-align: center;
  padding-right: 10px;
  position: fixed;
  top: 0px; 
  z-index: 1;
  overflow: hidden;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: none;
  width: 110px;
  text-align: center;
  font-size: 17px;
  float: left;
  display: block;
  padding: 10px 12px;
}
nav a:hover {
 color: #F6B17A;
 background-color: #2D3250;
 height: 40px;
 width: 140px;
}
.head {
  display: flex;
  padding-top: 70px;
  padding-left: 30px;
  position: relative;
}
.flag {
  border-radius: 20%;
  border-style: double;
  height: 350px;
  width: 400px;
  border-width: 10px;
  border-color: #F6B17A;
  object-fit: cover;
  padding-bottom: 0px;
}
.hower-flag {
  position: relative;
}
.hover-flag:hover {
  background-color: #2D3250;
  border-radius: 20%;
}
.hover-flag:hover img {
  opacity: 0.7;
}
.hover-flag .name {
  color: white;
  position: absolute;
  top:250px;
  left: 8%;
  font-size: 30px;
  visibility: hidden;
}
.hover-flag:hover .name {
  visibility: visible;
}
.audio {
  position: absolute;
  left: 40px;
  top: 450px;
  width: 400px;
}
header {
  font-size: 50px;
  color: white;
 padding-left: 25%;
 text-shadow: 0px 0px 10px #F6B17A;
}
h2 {
  color:#F6B17A;
  padding-top: 50px;
  padding-left: 40px;
}
.p {
  color: white;
  width: 500px;
  text-align: center;
  padding-left: 20px;
  font-size: 20px;
  border-right: #F6B17A;
  border-top: #2D3250;
  border-bottom: #2D3250;
  border-left: #2D3250;
  border-width: 10px;
  border-style: double;
}
.box {
  background-color: white;
  width: 400px;
  font-size: 15px;
  text-align: left;
  padding-left: 60px;
  color: white;
  position: absolute;
  right: 80px;
  top: 150px;
  transition-property:  background-color;
  transition-duration: 0.3s;
  transition-delay: 1s;
}
.box:hover {
  background-color: #424769;
  width: 600px;
  font-size: 20px;
}
.box .div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.box .click {
  color: #F6B17A;
}
.box2{
  width: 400px;
  text-align: left;
  padding-left: 40px;
  color: white;
  position: absolute;
  right: 80px;
  top: 490px;
  font-size: 20px;
}
.box3{
  width: 400px;
  text-align: left;
  padding-left: 40px;
  color: white;
  position: absolute;
  right: 80px;
  top: 690px;
  font-size: 20px;
}
h3 {
  font-size: 40px;
  color: white;
  padding-top: 30px;
  padding-left: 20px;
  border-right: #2D3250;
  border-top: #2D3250;
  border-bottom: #2D3250;
  border-left: #F6B17A;
  border-width: 10px;
  border-style: double;
}
.best {
  display: flex;
}
.player-name {
  font-size: 15px;
 width: 20%;
margin: 0px auto;
text-align: left;
margin-bottom: 40px;
position: relative;
}
.player-name:hover {
  background-color: #F6B17A;
}
.player-name:hover img {
  opacity: 0.8;
}
.player {
  width: 200px;
  height: 200px;
  border-style: double;
  border-color: #F6B17A;
  border-width: 10px;
  margin-left: 20px;
  display: flex;
}
.player-name .play-info {
  position: absolute;
  top: 10px;
  right: 23px;
  background-color: #7077A1;
  margin-top: 20%;
  margin-bottom: 0px;
  color: white;
  visibility: hidden;
  width: 200px;
  padding: 15px 10px;
}
.player-name:hover .play-info {
 visibility: visible; 
}
.section {
  width: 80%;
  margin: auto;
  color: white;
  font-size: large;
}
iframe {
  width: 100%;
  border: 10px #F6B17A;
  border-style: double;
  height: 400px;
}
footer {
  height: 250px;
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: left;
  background-color: #7077A1;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  color: white;
  position: relative;
}
#mark {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 30%;
  top: 80px;
}
#mark2 {
  width: 180px;
  height: 140px;
  position: absolute;
  right: 10%;
  top: 80px; 
  object-fit: cover;
}
#main {
color: #F6B17A;
font-size: 30px;
}